*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-header-darkblue: #2c3e50;
    --bg-start-greenwater: #1abc9c;
    --bg-location-blue: #3a546d;
}

/*utility*/

/*header*/
header{
    height: 60px;
    background-color: var(--bg-header-darkblue);
}

/*main*/
/*section start*/
main > .start, .about{
    background-color: var(--bg-start-greenwater);
    color: white;
}

.start .row, .portfolio .row, .about .row{
    width: 40%;
}

.start .container .line, .about .line{
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background-color: white;
}

/*section portfolio*/
main > .portfolio{
    color: rgb(1, 1, 57);
}

.portfolio .container .line{
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background-color: rgb(1, 1, 57);
}

.portfolio img{
    width: 100%;
    border-radius: 10px;
}

/*section about*/
.about .container_1{
    width: 60%;
    margin: auto;
    font-size: small;
}

/*section contact*/
.contact{
    height: 400px;
}

/*section location*/
.location{
    background-color: var(--bg-location-blue);
    color: white;
    font-size: x-small;
}

.icons{
   width: 30px;
}

/*footer*/
footer{
    background-color: var(--bg-header-darkblue);
    color: white;
    font-size: xx-small;
}

